allow vendor_init time_data_file:dir { search setattr create };
allow vendor_init time_data_file:file setattr;

allow vendor_init system_data_file:dir { add_name write };